################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/back/VerveChallenge/VerveChallenge/obj
/back/VerveChallenge/VerveChallenge/bin/Debug/net5.0
/.vs
